* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    scroll-behavior: smooth;
}

body {
    text-align: justify;
    margin: 20px;
}

#image-logo {
    width: 10%;
}


h3 {
    font-size: 30px;
}

img {
    border-radius: 20px;
    margin-right: 50px;
    margin: 20px;
}